{% extends "app1/base.html" %}

{% block page_header %}
    <div class="jumbotron ">
        <h1 class="display-3">About Us</h1>
        <p class="lead">You Can Write Here Information About 
        </p>
    </div>    
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d414688.4539747817!2d51.01798167048802!3d35.70768195349728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00491ff3dcd9%3A0xf0b3697c567024bc!2sTehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1726248243739!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock page_header %}