<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shirink-to-fit=no">
        <title>{% block title %}Learning Log{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'app1:index' %}">Home</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="{% url 'app1:topics' %}">Topics</a>
                    {% if user.is_authenticated %}
                        <h6  class="navbar-text">Hello, {{ user.username }}.</h6>
                        <a class="nav-link" href="{% url 'users:logouted' %}">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                        <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                    {% endif %}
                </div>
              </div>
            </div>
          </nav>
        <main role="main" class="container">
            <div class="pb-2 mb-2 border-bottom">
                {% block page_header %}{% endblock page_header %}
            </div>
            <div>
                {% block content %}{% endblock content %}
            </div>
        </main>
    </body>
</html>