
{% extends "app1/base.html" %}

{% block page_header %}
    <h3>{{topic}}</h3>
{% endblock page_header %}

{% block content %}

   <p>
    <a href="{% url 'app1:new_entrie' topic.id %}" class="btn btn-sm btn-success">Add +</a>
   </p>
    {% for entry in entries %}
        <div class="card mb3">
                <h5 class="card-header">
                    {{ entry.date_added|date:'M d, Y H:i' }}
                    <small>
                        <a href="{% url 'app1:edit_entry' entry.id %}" class="btn btn-sm btn-warning">Edit</a>
                    </small>
                </h5>
                <div class="card-body">
                    {{ entry.text|linebreaks }}
                </div>
        </div>
    {% empty %}
        <li> جزئیاتی برای نمایش وجود ندارد </li> 
    {% endfor %}
{% endblock content %}