
{% extends "app1/base.html" %}

{% block content %}
   <p>سرفصل</p>
   <p>"{{topic}}"</p>
   <p>
    <a href="{% url 'app1:new_entrie' topic.id %}">اضافه کردن +</a>
   </p>
   <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
                <p>
                    <a href="{% url 'app1:edit_entry' entry.id %}">ویرایش</a>
                </p>
            </li>
        {% empty %}
            <li> جزئیاتی برای نمایش وجود ندارد </li> 
        {% endfor %}
   </ul>
{% endblock content %}